*{
    padding: 0;
    margin: 0;
    color: white;
}
body::-webkit-scrollbar{
    display: none;
}
img{
    cursor: pointer;
}
i{
    cursor: pointer;
}
nav{
    top: 0;
    display: flex;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    z-index: 999;
}
.left-nav{
    display: flex;
    align-content: center;
    justify-content: flex-start;
}
.logo{
    margin: 6px 5px;
    height: 60px;
    width: 60px;
}
.title{
    color: white;
    font-size: 50px;
    margin: auto 15px;
    font-family: 'Lato', sans-serif;
}
.fav{
    color: white;
    font-size: 30px;
    margin: auto 71px;
    font-family: 'Lato', sans-serif;
}
.fav:hover{
    cursor: pointer;
}

.right-nav{
    display: flex;
    width: fit-content;
    justify-content: flex-end;
    align-content: center;
}

.search-bar {
    color: black;
    margin: auto 0px;
    height: 36px;
    width: 245px;
    background: white;
    border: 2px solid white;
    font-size: 20px;
}
.search-bar::placeholder{
    padding: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.582);
}
.search-bar:focus{
    outline: 0;
    border-radius: 0;
}
.notification{
    margin: auto 50px;
}

.profile{
    margin: auto 15px ;
    height: 75px;
    width: 75px;
    border-radius: 100%;
}
.magnify{
    margin: auto 0;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border: 5px solid white;
}
.mic{
    margin: auto 0;
    background-color: white;
    height: 40px;
    border: 5px solid white;
}

main{
    margin-top: 80px;
    padding: 25px;
    display: flex;
    border: 2px solid white;
    background-color: black;
    height: 100vh;
    /* height: 85.5vh; */
    width: auto;
}
.left-main{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 60px;
    border-right: 2px solid white;
    width: 66%;
}
.left-main::-webkit-scrollbar{
    display: none;
}
.playlist{
    margin: 25px 10px;
    display: flex;
    width: auto;
    justify-content: space-around;
}
.playlist img{
    height: 23rem;
    width: 23rem;
}
.playlist img:hover{
    transform: scale(1.1);
}

.latest-release{
    display: grid;
    margin: 3px 20px;
    width: auto;
    height: auto;
    grid-template-columns: 50% 50%;
}
.head-section{
    margin: 10px auto;
    padding: 10px 50px;
    color: white;
    width: 100%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.lr-card{
    display: flex;
    margin: 25px 10px;
    gap: 10px;
    position: relative;
}
.lr-song-cover{
    height: 220px;
    width: 220px;
}
.lr-play{
    display: flex;
    height: 220px;
    width: 220px;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}

.lr-play:hover{
    opacity: 1;
    transform: scale(2);
}

.lr-name-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 313px;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lr-options-time{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 113px;
    font-size: 1rem;
}
.lr-options{
    margin: 10px 16px;
}
.popular-artists{
    display: flex;
    overflow-x: scroll;
}
.popular-artists::-webkit-scrollbar{
    margin: 3px 20px;
    display:none;
}
.pa-card{
    display: flex;
    flex-direction: column;
    margin: 10px 18px;
}
.pa-image{
    border-radius: 100%;
    height: 12rem;
    width: 12rem;
}
.pa-name{
    margin: 10px auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.music-genre{
    margin: 3px 20px;
    display: flex;
    background-color: rgba(104, 101, 101, 0.233);
}
.genre-cover{
    display: flex;
    position: relative;
}
.genre-cover-name{
    font-weight: bolder;
    font-family:cursive;
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.genre-cover img{
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
}
.genre-details{
    display: flex;
    align-content: center;
    overflow-x: scroll;
}
.genre-details::-webkit-scrollbar{
    display:none;
}
.genre-card{
    display: flex;
    margin: auto 10px;
    align-content: center;
    position: relative;
}
.genre-image{
    border-radius: 100%;
    height: 11rem;
    width: 11rem;
}
.genre-name{
    font-weight: bolder;
    font-family:cursive;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.latest-english{
    margin: 3px 20px;
    display: flex;
    align-content: center;
    overflow-x: scroll;
}
.le-card{
    margin: 10px 10px;
}
.le-image{
    height: 11rem;
    width: 11rem;
    margin-bottom: 10px;
}
.le-name{
    font-weight: lighter;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.le-date{
    font-weight: lighter;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.latest-english::-webkit-scrollbar{
    display:none;
}
.latest-hindi{
    margin: 3px 20px;
    display: flex;
    align-content: center;
    overflow-x: scroll;
}
.lh-card{
    margin: 10px 10px;
}
.lh-image{
    height: 11rem;
    width: 11rem;
    margin-bottom: 10px;
}
.lh-name{
    font-weight: lighter;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lh-date{
    font-weight: lighter;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.latest-hindi::-webkit-scrollbar{
    display:none;
}
.queue{
    width: 34%;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 100px;
    height: calc(97vh - 100px);
}
.queue::-webkit-scrollbar{
    display:none;
}
.queue-nav{
    background-color: rgb(24, 22, 22);
    padding: 10px 15px;
    position: fixed;
    display: flex;
    width: 32%;
    height: 50px;
    z-index: 1;
}
.queue-list{
    width: 100%;
    padding: 30px;
}
.qc-number{
    display: flex;
    align-items: center;
    width: 15%;
    font-size: 1.5rem;
    font-weight: bold;
}
.qn-lable{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.queue-card{
    width: 100%;
    display: flex;
    align-content: center;
    margin: 25px 10px;
}
.qc-image{
    height: 10rem;
    width: 10rem;
}
.song-name-singer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width:75% ;
    
}
.song-name{
    font-size: 1.5rem;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.song-singer{
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list-container{
    padding-top: 72px;
    display: flex;
    height: 100%;
    width: 100%;
}
.favourite{
    width: 10%;
    display: flex;
    align-items: center;
}